@using MobileShop.ViewModels.Common
@model PagedResult<MobileShop.ViewModels.Catalog.Products.ProductVm>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <script>
        setTimeout(() => {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
}
@section Styles {

    <link href="~/css/custom.css" rel="stylesheet" />
}
<div class="container-fluid">

    <p class="add-user">
        <a asp-action="Create" class="btn btn-success">Thêm mới</a>
    </p>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Quản lý sản phẩm</h1>
        @if (ViewBag.SuccessMsg != null)
        {
            <div class="alert alert-success" id="msgAlert" role="alert">
                @ViewBag.SuccessMsg
            </div>
        }
        <div class="card mb-4">
            <div class="top-header-user">
                <div class="title-header-user">
                    <h4>Sản phẩm</h4>
                </div>
                <div class="search-user">
                    <form asp-action="Index" method="get">
                        <select class="form-control-sm" onchange="this.form.submit()" name="categoryId" asp-items="@ViewBag.Categories">
                            <option>--- Chọn danh mục ---</option>
                        </select>
                        <input class="form-control-sm" type="text" value="@ViewBag.Keyword" name="keyword" placeholder="Tìm kiếm sản phẩm" />
                        <button class="btn btn-primary" type="submit">Tìm</button>
                        <button class="btn btn-secondary" type="button" onclick="window.location.href='Product/Index'">Reset</button>
                    </form>
                </div>
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>
                                Mã SP
                            </th>
                            <th>
                                Tên
                            </th>
                            <th>
                                Giá Nhập
                            </th>
                            <th>
                                Giá bán
                            </th>
                            <th>
                                Số lượng tồn
                            </th>
                            <th>
                                Action
                            </th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                Mã SP
                            </th>
                            <th>
                                Tên
                            </th>
                            <th>
                                Giá Nhập
                            </th>
                            <th>
                                Giá bán
                            </th>
                            <th>
                                Số lượng tồn
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OriginalPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Stock)
                                </td>
                                <td>
                                    @Html.ActionLink("Cập nhật", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Xóa", "Delete", new { id = item.Id }) |
                                    @Html.ActionLink("Gán danh mục", "AssignCategory", new{id = item.Id})
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @await Component.InvokeAsync("Pager", Model)
            </div>

        </div>
    </div>
</div>