@using MobileShop.ViewModels.Common;
@using MobileShop.ViewModels.System.Users;
@model PagedResult<UserVm>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <script>
        setTimeout(() => {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
}

<style>
    .add-user {
        padding-top: 10px;
        right: 34px;
        position: absolute;
    }

        .add-user a {
            text-decoration: none;
            width: auto;
            border: 1px solid #333;
            padding: 5px;
        }

    .datatable-top {
        display: none;
    }

    .top-header-user {
        position: relative;
        display: flex;
        padding: 10px;
    }

    .search-user {
        position: absolute;
        right: 10px;
    }

    .title-header-user {
        margin-left: 10px;
    }
</style>

<div class="container-fluid">

    <p class="add-user">
        <a asp-action="Create" class="btn btn-success">Thêm mới</a>
    </p>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Quản lý tài khoản</h1>
        @if (ViewBag.SuccessMsg != null)
        {
            <div class="alert alert-success" id="msgAlert" role="alert">
                @ViewBag.SuccessMsg
            </div>
        }
        <div class="card mb-4">
            <div class="top-header-user">
                <div class="title-header-user">
                    <h4>Tài khoản</h4>
                </div>
                <div class="search-user">
                    <form asp-action="Index" method="get">
                        <input class="form-control-sm" type="text" value="@ViewBag.Keyword" name="keyword" placeholder="Tìm kiếm tài khoản" />
                        <button class="btn btn-primary" type="submit">Tìm</button>
                        <button class="btn btn-secondary" type="button" onclick="window.location.href='User/Index'">Reset</button>
                    </form>
                </div>
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>
                                FirstName
                            </th>
                            <th>
                                LastName
                            </th>
                            <th>
                                PhoneNumber
                            </th>
                            <th>
                                UserName
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Dob
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                FirstName
                            </th>
                            <th>
                                LastName
                            </th>
                            <th>
                                PhoneNumber
                            </th>
                            <th>
                                UserName
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Dob
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Dob)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                                    @Html.ActionLink("Gán quyền", "RoleAssign", new { id = item.Id })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @await Component.InvokeAsync("Pager", Model)
            </div>

        </div>
    </div>
</div>

